name: PBC Monitor

on:
  schedule:
    - cron: "0 1,7 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4

      - name: Run monitor
        env:
          SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
          SENDER_PASSWORD: ${{ secrets.SENDER_PASSWORD }}
        run: python monitor.py
      - name: Commit history
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add history.json || true
          git commit -m "update history" || true
          git push || true
